.button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 10px;
  background-color: #fff;
  display: none;
}
.white {
  height: 32.9px;
  width: 197.6px;
  position: relative;
  display: none;
}
.bg {
  align-self: stretch;
  position: relative;
  background-color: #fff;
  height: 1047px;
  display: none;
}
.subtract-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.subtract-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.dashboard-text {
  height: 42px;
  width: 42px;
  position: relative;
}
.base {
  margin: 0;
  height: 33px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.category-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.upload-frame {
  align-self: stretch;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 55px 0px 56px;
  box-sizing: border-box;
  font-size: 24px;
}
.iconlyboldcategory {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
  z-index: 1;
}
.dashboard {
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.iconlyboldcategory-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 20px;
  gap: 14px;
}
.chart-icon {
  position: absolute;
  top: 13px;
  left: 33px;
  width: 20px;
  height: 22px;
  object-fit: cover;
  z-index: 1;
}
.chart-frame {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 5px 5px 0px;
  background: linear-gradient(90deg, #aca9ff, rgba(172, 169, 255, 0));
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 2;
}
.chart-parent {
  height: 48px;
  flex: 1;
  position: relative;
}
.upload1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.mask-instance {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vector-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 27px 0px 0px;
  color: #605bff;
}
.frame-parent {
  width: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24px;
  color: #9a9;
}



.iconlyboldticket {
  width: 24px;
  height: 16.4px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.ticket-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0px 0px;
}
.invoice {
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 13px;
  opacity: 0.5;
  z-index: 1;
}
.ticket-frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.menu-inner {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 31px;
  box-sizing: border-box;
}
.iconlybolddocument {
  height: 26.4px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.schedule {
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  opacity: 0.5;
  z-index: 1;
}
.iconly-bold-document-schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.iconly-bold-document-schedule-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 31px;
}
.calendar-icon {
  height: 26.4px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.calendar {
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  opacity: 0.5;
  z-index: 1;
}
.calendar-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.menu-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 31px;
}
.iconlyboldnotification {
  height: 26.4px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.notification {
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  opacity: 0.5;
  z-index: 1;
}
.iconlyboldnotification-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 31px;
}
.iconlyboldsetting {
  height: 26.4px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.settings {
  position: relative;
  font-weight: 600;
  opacity: 0.5;
  z-index: 1;
}
.iconlyboldsetting-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.menu-inner1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 31px;
}
.menu {
  margin: 0;
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 51px 0px 480px;
  gap: 39px;
  text-align: left;
  font-size: 16px;
  color: #030229;
  font-family: Nunito;
}
.menu-wrapper {
  align-self: stretch;
  height: 1025px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  box-sizing: border-box;
}
.upload-inner {
  width: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 0px;
  box-sizing: border-box;
}
.upload-csv {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.upload-csv-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.upload-c-s-v-container-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.upload-c-s-v-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 684px;
  max-width: 100%;
  z-index: 1;
}
.vector-icon {
  height: 23px;
  width: 18px;
  position: relative;
}
.mask-group-icon {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
}
.vector-mask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}
.upload-c-s-v-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 34px;
  max-width: 100%;
}
.size-med-icon-left-type-primar {
  width: 36px;
  height: 36px;
  position: relative;
}
.browse {
  color: #605bff;
  cursor: pointer;
}

.remove{
  color:red;
  cursor:pointer;
  padding-top: 20px;
}
.placeholder-text {
  position: relative;
  line-height: 24px;
}
.placeholder-text-frame-child {
  width: 564px;
  height: 258px;
  position: relative;
  border-radius: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.placeholder-text-frame-item {
  width: 464px;
  display: none;
  max-width: 100%;
}
.placeholder-text-frame {
  align-self: stretch;
  border-radius: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 98px 20px 84px 21px;
  gap: 16px;
  max-width: 100%;
  z-index: 1;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.value {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: Figtree;
  color: #fff;
  text-align: left;
}


.upload-text{
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: Figtree;
  color: #fff;
  text-align: left;
}
.upload-btn{
  cursor: pointer;
  border: none;
  padding: 16px 20px;
  background-color: #605bff;
  align-self: stretch;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.upload-btn:hover {
  background-color: #7a75ff;
}
.input-container {
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 21px;
  max-width: 100%;
}
.input-container-wrapper {
  width: 622px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 26px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #999ca0;

  position: relative;
  bottom:95px ;

}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 137px;
  max-width: 100%;
}
.upload-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 49px 0px 0px;
  box-sizing: border-box;
  max-width: calc(100% - 248px);
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Figtree;
}
.upload {
  width: 100%;
  position: relative;
  background-color: #fafafb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 30px 0px 0px;
  box-sizing: border-box;
  gap: 30px;
  letter-spacing: normal;
}

@media screen and (max-width: 1125px) {
  .frame-group {
    gap: 68px;
  }
}
@media screen and (max-width: 1050px) {
  .menu {
    padding-top: 33px;
    padding-bottom: 312px;
    box-sizing: border-box;
  }

  .upload-inner {
    display: none;
  }

  .upload-child {
    max-width: 100%;
  }

  .upload {
    padding-left: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .upload-c-s-v-container {
    min-width: 100%;
  }

  .upload-c-s-v-container-parent {
    gap: 17px;
  }

  .frame-group {
    gap: 34px;
  }

  .upload-child {
    padding-top: 32px;
    box-sizing: border-box;
  }

  .upload {
    gap: 15px;
  }
}
@media screen and (max-width: 450px) {
  .base {
    font-size: 19px;
  }

  .menu {
    padding-top: 21px;
    padding-bottom: 203px;
    box-sizing: border-box;
  }

  .upload-csv {
    font-size: 19px;
    line-height: 26px;
  }

  .frame-group {
    gap: 17px;
  }
}
